<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
<head>
    <meta charset="UTF-8">
    <title>Szoszi</title>

</head>
<body>
<table class="table">
    <tr th:each="auto: ${auto}">
        <td th:text="${auto.id}">id</td>
        <td th:text="${auto.datum}">datum</td>
        <td th:text="${auto.km}+' km'">km</td>
        <td th:text="${auto.marka}">marka</td>
        <td th:text="${auto.rendszam}">rendszam</td>
    </tr>
</table>
</body>
</html>